@import url(base/vars.css);
@import url(base/base.css);
@import url(cmps/user-msg.css);
@import url(cmps/locs.css);
@import url(cmps/selected-loc.css);

@media (min-width: 750px) {
    main {
        display: flex;
        flex-direction: row-reverse;
    }

    .locs-container {
        width: 30vw;
        min-height: 98.5vh;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 0.5em;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: var(--gray1) transparent;
        scrollbar-gutter: stable;
        margin-left: 0.5em;
        margin-top: 0;
        margin-bottom: 0.5em;
    }
}