body {
    background-color: var(--bg1);
    color: #eee;
    overflow-x: hidden;
}

header {
    background-color: var(--bg2);
    color: aliceblue;
    padding: 0.3em;

    /* <Guy> Adding box shadow and border radius */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
}
/* <yahav> Title header Styles */
header h1 {
  font-size: 2.5rem;        
  letter-spacing: 3px;      
  padding-left: 20px;
  font-family: 'Inter', sans-serif;
}


/* <Guy> Title Styles */
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type=text],
input[type=number] {
    line-height: 2em;
    background-color: var(--color1);
    border: 0;
}

button {
    color: whitesmoke;
    border: 0;
    border-radius: .2em;
    background-color: #222;
    padding: 6px 10px;
    margin: 2px;
    cursor: pointer;
    transition: background-color .5s;
}

button:hover {
    color: var(--color2);
    background-color: #111;
}

.muted {
    font-size: .9em;
    color: var(--gray1);
}

.smaller {
    font-size: .8em;
}

.welcome-message {
    text-align: center;
    color: var(--color1);
    font-size: 1.5em;
    margin: 1em 0;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        opacity: 0.8;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.8;
    }
}